/* Coloque as suas regras de css aqui embaixo */
h1{
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: normal;
	color: white;
	text-align: left;
	margin: 0px;
	padding-top: 15px;
}

h2{
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: normal;
	color: white;
	text-align: left;
	padding-top: 100px;
}

p{
	font-family: 'Open Sans';
	font-size: 13px;
	color: white;
	text-align: left;
}

#header {
	width: 960px;
	height: 200px;
}

#main{
	width: 960px;
	margin: 0px auto;
}

.cycle-slideshow{
	width: 960px;
	height: 300px;
	background-color: black;
}

#content{
	width: 960px;
	height: 300px;
}

.column_data, .column_gallery{

	width: 480px;
	height: 300px;
	float: left;
}
.column_data_photo{
	width: 230px;
	float: left;
	padding-top: 10px;
}

.column_data_text{
	width: 230px;
	float: left;

}

.image1, .image2, .image3, .image4{
	width: 220px;
	height: 150px;
	float: left;
	margin: 10px;
}
