/* Coloque as suas regras de css aqui embaixo */
h1{
	font-family: 'Open Sans';
	font-size: 22px;
	font-weight: normal;
	color: white;
	text-align: center;
	margin: 0px;
	padding-top: 15px;
}

p{
	font-family: 'Open Sans';
	font-size: 14px;
	color: black;
	text-align: justify;
}

#header {
	width: 960px;
	height: 200px;

}

#main{
	width: 960px;
	margin: 0px auto;
}

#slider{
	width: 960px;
	height: 350px;
	background-color: black;
}

#content{
	width: 960px;
	height: 300px;
}

.column_data, .column_gallery{

	width: 480px;
	height: 300px;
	float: left;
}
.column_data_photo{
	width: 230px;
	float: left;
}

.column_data_text{
	width: 230px;
	float: left;

}

.image1, .image2, .image3, .image4{
	width: 200px;
	height: 150px;
	float: left;
	margin: 10px;
}
